@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active{
  @apply tracking-widest font-semibold text-primary dark:text-primary-dark duration-300
}

@layer base{
  body{
    @apply duration-0
  }
  *{
    @apply text-gray-700 dark:text-gray-100 selection:bg-none duration-300
  }
}

@layer components{
  .nav-bar{
    @apply w-full h-20 px-5 md:px-16 flex items-center justify-between fixed top-0
  }
  .nav-scrolled{
    @apply bg-slate-100 shadow-lg dark:bg-slate-700 dark:bg-opacity-50 dark:backdrop-blur-sm
  }
  .nav-link{
    @apply tracking-widest font-semibold text-gray-500 dark:text-emerald-700
  }
  .link-btn{
    @apply px-2 py-1 bg-gradient-to-br from-primary dark:from-primary-dark dark:to-emerald-800 to-blue-700 text-white tracking-widest font-semibold
  }
}